@import url(./global.css);
body{
    font-family: "Open Sans", sans-serif;
}
.faq-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0c8293;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

.faq-titulo {
    color: white; /* Azul forte para o título */
    text-align: center;
    margin-bottom: 20px;
}

.faq-pergunta {
    background-color: #e9ecef; /* Cinza claro para o fundo da pergunta */
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer; /* Indica que é clicável */
    border-radius: 5px;
    color: #000; /* Texto preto para as perguntas */
}
.faq-pergunta:hover{
    background-color: #dde0e3;
}

.faq-resposta {
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 15px;
    overflow: hidden; /* Importante para a animação */
    max-height: 0; /* Inicialmente oculto */
    opacity: 0; /* Inicialmente invisível */
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* Transição suave */
    border-radius: 5px;
    color: black; /* Azul forte para o título */
}

.faq-pergunta.ativo + .faq-resposta {
    max-height: 500px; /* Altura máxima para a animação (ajuste conforme necessário) */
    opacity: 1;
}
/* Responsividade para telas menores */
@media (max-width: 600px) {
    .faq-container {
        padding: 10px;
    }
}