*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(../assets/background.png);
    background-size: cover;
    background-position: center;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    font-size: 62.5%;
}
.main{
    text-decoration: underline;
}
body{
    color: white;
}
header{
    padding-left: 6.5rem;
    padding-right: 9.4rem;
    display: flex;
    justify-content: space-between;
    padding-top: 2.1rem;
}
ul {
    list-style: none;
    display: flex;
    gap: 4.3rem;
    height: 100%;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}