@import url(./global.css);

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}
body > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}
h1{
    width: fit-content;
    font-size: 7rem;
}
body > div > div{
    display: flex;
    justify-content: center;
}